<div class="favorites">
    <div class="favorites__title">
      <h1>
        <fa-icon [icon]="faStar"></fa-icon>
        Favorites
      </h1>
    </div>
    <!-- end of .favorites__title  -->
    <div *ngIf="favorites$ | async as favorites; else loading;">
        <div class="message" *ngIf="!favorites.length">
          <img src="/assets/images/face.svg">
          No favorite, add a new song to start
        </div>
    
        <app-list-item *ngFor="let list of favorites"
                       [item]="list"
                       [displaySongs]="false"
                       (remove)="removeSong($event)">
        </app-list-item>
    </div>
    
    <ng-template #loading>
      <div class="message">
        <img src="/assets/images/loading.svg">
        Fetching favorites...
      </div>
    </ng-template>
</div>
<!-- end of .favorites  -->