<div class="list-item">
    <a [routerLink]="getRoute(item)">
        <p class="list-item__name">{{ item.name }}</p>
        <p class="list-item__artist">
            <span>
            {{ item.artist }}
            </span>
        </p>
    </a>

    <div class="list-item__icons"
        *ngIf="displaySongs">
        <span class="headphone" 
              [class.headphone-active]="item.playlist" 
              (click)="updateItem(item, 'playlist')">
            <fa-icon [icon]="faHeadphones"></fa-icon>
        </span>
        <span class="star" 
              [class.star-active]="item.favorite"
              (click)="updateItem(item, 'favorite')">
            <fa-icon [icon]="faStar"></fa-icon>
        </span>
    </div>
    <!-- end of .list-item__icons -->
    <div class="list-item__delete"
         *ngIf="toggled">

         <ng-container *ngIf="displaySongs; else removeSongs">
            <p>Delete item?</p>
         </ng-container>
         <ng-template #removeSongs>
            <p>Remove song?</p>
         </ng-template>

        <button class="confirm"
                type="button"
                (click)="removeItem()">Yes</button>

        <button class="cancel"
                type="button"
                (click)="toggle()">No</button>
    </div>
    <!-- end of .list-item__delete  -->
    <button class="trash"
            type="button"
            (click)="toggle()">

        <ng-container *ngIf="displaySongs; else remove">
            <img src="assets/images/remove.svg">
        </ng-container>
        <ng-template #remove>
            <span class="remove">
                <fa-icon [icon]="faMinus" size="lg"></fa-icon>
            </span>
        </ng-template>

    </button>
    <!-- end of .trash  -->
</div>
<!-- end of .list-item  -->